.ProductPageMainCtrl{
  height: 100vh;
  width: 100vw;
  background-color: #f8fcff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.ProductPageSubCtrl{
  width: 1170px;
  /* background-color: black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ProductTextDiv{
  width: 279px;
  font-size: 15px;
}

.PrdBig{
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 10px;
  color: #7c8e9b;
}

.PrdSmall{
  color: #7c8e9b;
}

.ProductCarddiv{
  width: 800px;
  display: flex;
  /* background-color: darkcyan; */
  flex-wrap: wrap;
}