h4{
  font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #f8f8f8;
    margin: 0;
    line-height: 40px;
}

p{
  font-size: 12px;
  color: #ffffff80;
  line-height: 15px;
  /* margin-bottom: 12px; */
}

p:hover{
  color: #fff;
}

.FooterMain{
  height: 445px;
  width: 100vw;
  background-color: #0c293a;
  display: flex;
  flex-flow: column wrap;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.SubFooterMain{
  width: 780px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

/* .FooterMain::after{
  content: "Africa's Talking. All rights reserved.";
  height: 1px;
  display: block;
  position: absolute;
  bottom: 100px;
  background-color: #ffffff2b;
  text-align: center;
  line-height: 45px;
  color: #ffffff80;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
} */